body {
    /*background: #2f2f2f;*/
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
}

.title {
    position: relative;
    left: 50%;
}

.intro_image {
    width: 10rem;
    height: auto;
}

.navigation {
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 0.5rem;
    /*background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0.3));*/
    background: black;
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-content: center;
}

.container_text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}



.navigation a {
    background: transparent;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Sans Serif Collection';
    padding: .5rem;
    margin: 0rem 1rem;
    height: fit-content;
    width: auto;
    transition-duration: 0.5s;
}

    .navigation a:hover {
        color: white;
        text-decoration: underline;
        transition-duration: 1s;
        border-radius: 0;
        height: 100%;
    }

.video-button {
    display: block;
    background: transparent;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Sans Serif Collection';
    border: 2px black solid;
    padding: .5rem;
    margin: 0rem 1rem;
    width: fit-content;
    transition-duration: 0.5s;
}

    .video-button:hover {
        background: black;
        color: white;
        border: 2px white solid;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        transition-duration: 0.5s;
    }

.delete-button {
    border: red solid 2px;
    display: block;
    background: transparent;
    text-decoration: none;
    color: red;
    font-size: 1.5rem;
    font-family: 'Sans Serif Collection';
    padding: .5rem;
    width: fit-content;
    transition-duration: 0.5s;
}

    .delete-button::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-image: url('/img/trash-solid.svg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateX(30px);
    }

    .delete-button:hover::before {
        opacity: 1;
        color: white;
        transition-duration: 0.5s;
    }

    .delete-button:hover::after {
        position: absolute;
        opacity: 1;
        content: "";
        left: -200px;
    }

.btn-text {
    display: inline-block;
    transition: all 0.3s ease;
}

.delete-button:hover .btn-text {
    opacity: 0;
    transform: translateX(20px);
}

.add-button {
    border: green solid 2px;
    /*display: block;*/
    background: transparent;
    text-decoration: none;
    color: green;
    font-size: 1rem;
    font-family: 'Sans Serif Collection';
    padding: .5rem;
    width: fit-content;
    transition-duration: 0.5s;
}

    .add-button:hover {
        background: green;
        color: white;
    }
