@page
@model ZuydSDRazor.Pages.CoursesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Jo Bonten | Courses";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <nav class="navigation">
        <a asp-page="Index">Home</a>
        <a asp-page="Courses">Courses</a>
        <a asp-page="Moves">Moves Library</a>
    </nav>
    <section class="search-container">
        <div>

        </div>
    </section>
</body>

