@page "{Id:int}"
@model ZuydSDRazor.Pages.DetailsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Jo Bonten | Video";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <nav class="navigation">
        <a asp-page="Index">Home</a>
        <a asp-page="Onderwerpen">Onderwerpen</a>
        <a asp-page="Videos">Videos</a>
    </nav>
    <div class="row" style="margin: 0px 20px 0px 20px; padding-top:8rem;">
        <div class="col-8">
            <p>ID is: @Model.OnderwerpId </p>
            <table class="table table-hover">
                <tr>
                    <th>Titel</th>
                    <th>Video</th>
                    <th></th>
                </tr>
                @foreach (var s in Model.Videos)
                {
                <tr>
                    <td> <h1></h1></td>
                    <td>
                        <iframe loading="lazy" src="@s.Link">
                        </iframe>
                    </td>
                    <td><button>Bewerk</button></td>
                </tr>
                }
            </table>
        </div>
    </div>
</body>
