@page
@model ZuydRazorApplication.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Jo Bonten | Home";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <nav class="navigation">
        <a asp-page="Index">Home</a>
        <a asp-page="Courses">Tutorials</a>
        <a asp-page="Moves">Moves Library</a>
    </nav>
    <section class="section_video" style="padding:0;margin:auto;">
        <div class="container_text">
            <h1 class="title_text" style="z-index:10;position:absolute;">Jo Bonten<br /> Self-Defense</h1>
        </div>
        <video muted autoplay class="main_video" src="/vid/Jo_intro.mp4"></video>
    </section>
</body>

