@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Oefening 1";
    string tijd = DateTime.Now.ToString();
    int telOp(int a, int b)
    {
        return b + a;
    }

}
<div class="main">
    <h1>Dit is @ViewData["Title"]</h1>
    <br />
    <div>De tijd is: @tijd</div>
    <div>De uitkomst van de functie telOp is: @telOp(3,2)</div>
    <a asp-page="Index">Ga naar Home</a>
</div>

