@page "{handler?}/{id?}"
@model ZuydSDRazor.Pages.VideosModel
@{
    Layout = "_Layout_Courses";
    ViewData["Title"] = "Jo Bonten | Videos";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <nav class="navigation">
        <a asp-page="Index">Home</a>
        <a asp-page="Onderwerpen">Onderwerpen</a>
        <a asp-page="Videos">Videos</a>
    </nav>
    <div class="row" style="margin: 0px 20px 0px 20px; padding-top:8rem;">
        @*Search bar*@
        <div style="margin:15px 0px 15px 0px;display:flex;flex-direction:row;justify-content:center;">
            <p>Zoek Video</p>
            <form method="get">
                <div class="form-group">
                    <input type="text" asp-for="SearchString" class="align-middle" style="width:200px" />
                    <input type="submit" value="Zoek" class="btn btn-primary" />
                    <span asp-validation-for="SearchString" style="color:red; font-weight:900"></span>
                </div>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Titel</th>
                    <th>Video</th>
                    <th></th>
                </tr>

                @foreach (var s in Model.Videos)
                {
                    <tr>
                        <td><b>@s.Titel</b></td>
                        <td>
                            <iframe loading="lazy" src="@s.Link">
                            </iframe>
                        </td>
                        <td><a asp-page="Details" asp-route-id="@s.VideoId" class="btn btn-outline-primary">Bewerk</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}